<!DOCTYPE html>
<html>
    <head><title>Lumina</title>
		<link rel="stylesheet" href="../static/style1.css">
	</head>
    <body>
        <form method="post" action="{{url_for('post')}}">
            <h2>Fill in to post:</h2>
            <p>Image link:</p>
            <br>
            <input type="text" name="imgLink" required>
            <p>Artist name:</p>
            <br>
            <input type="text" name="artist" required>
            <p>Description of artwork:</p>
            <br>
            <textarea name="desc" placeholder="Type a beautiful story here!" required></textarea>
            <p>Tags (separate by commas):</p>
            <textarea name="tags" placeholder="Type tags separated by commas" required></textarea>
			<br>
            <input type="submit">
        </form>
    </body>
</html>