<!doctype html>
<html>
<head><title>Music Submission Form</title></head>
<link rel='stylesheet' href="../static/music.css">
<body>
	<h1>Music Submission Form</h1>
	<form action={{url_for("submission")}}>
		<p>Artist: <input type="text" name="artist" id="artist"></p>
		<p>Title: <input type="text" name="title" id="title"></p>
		<p>Duration: <input type="text" name="duration" id="duration"></p>
		<p>Attachment: <input type="file" name="audio" id="audio" accept="audio/*"></p>
		<p><input type="submit" value="submit" id="submit"></p>
	</form>
</body>
</html>
